.signup {
    color: white;
}

.signin {
    color: white;
}

.addAuthor {
    color: white;
}

.addBook {
  color: white;
}

.image {
    width: 200px;
    height: 300px;
    margin: 10px;
}

.block {
    display: inline-block;
}

.color {
    color: darkblue;
}
