<form class="form-horizontal">
    <fieldset>
        <legend>Add Author</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Image</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="imgUrl" placeholder="Image url">
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="#/home" class="btn btn-default">Cancel</a>
                <a href="#/authors" class="addAuthor btn btn-primary">Add</a>
            </div>
        </div>
    </fieldset>
</form>