{{#this}}
        <blockquote class="author">
            <p><strong>{{name}}</strong></p>
            <button class="btn btn-success showDescriptionBtn">Show</button>  <button class="btn btn-success hideDescriptionBtn">Hide</button>
            <p class="hide" id="description">{{description}}</p>
        </blockquote>
{{/this}}