{{#this}}
        <blockquote class="author">
            <p><strong>{{name}}</strong></p>
            <img class="image" src="{{img}}">
            <p id="description">{{description}}</p>
        </blockquote>
{{/this}}
