<main class="base-docs-section">
            <div class="row">
                <div class="panel">
                    <div class="panel-body">
                        <blockquote>
                            <p>“If this nation is to be wise as well as strong, if we are to achieve our destiny, then we need more new ideas for more wise men reading more good books in more public libraries. These libraries should be open to all—except
                                the censor. We must know all the facts and hear all the alternatives and listen to all the criticisms. Let us welcome controversial books and controversial authors. For the Bill of Rights is the guardian of our security
                                as well as our liberty."</p>
                            <small>John F. Kennedy <cite title="Source Title">[Response to questionnaire in Saturday Review, October 29 1960]</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bs-component">
                        <div class="modal-footer">
                            <button class="btn btn-success btn-lg btn-block btn-login">Login</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bs-component">
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-lg pull-left btn-block btn-register"><a href="#/signup" class="signup">Register</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-lg-3">
                                <img src="views/home/images/book.png" alt="Books" class="pull-left book-img-preview">
                            </div>
                            <div class="col-lg-9">
                                <div class="modal-header book-header-preview">
                                    <h3>Lord of the Rings</h3>
                                    <h5>by J. R. R. Tolkien</h5>
                                </div>
                                <div class="modal-body col-lg-11">
                                    <div class="panel">
                                        <div class="panel-body book-review-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates minus debitis facilis porro minima dignissimos, officiis dicta nesciunt harum totam unde quia eveniet excepturi animi expedita aliquam fugit facere atque, autem ex necessitatibus obcaecati
                                            voluptatibus tempora! Quo illo magni aspernatur deleniti, </div>
                                        <a href="#" class="btn btn-default">Read</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-3">
                                <img src="views/home/images/book.png" alt="Books" class="pull-left book-img-preview">
                            </div>
                            <div class="col-lg-9">
                                <div class="modal-header book-header-preview">
                                    <h3>Harry Potter</h3>
                                    <h5>by J. K. Rowling</h5>
                                </div>
                                <div class="modal-body col-lg-11">
                                    <div class="panel">
                                        <div class="panel-body book-review-text">
                                            ibero labore. Quo vitae accusamus quaerat incidunt, ea dignissimos dolores ullam! Totam tempora ullam officia accusantium dolorem quas doloremque perspiciatis voluptatibus distinctio ratione, amet, eum aliquid odit eius inventore velit. In, sit?
                                        </div>
                                        <a href="#" class="btn btn-default">Read</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-3">
                                <img src="views/home/images/book.png" alt="Books" class="pull-left book-img-preview">
                            </div>
                            <div class="col-lg-9">
                                <div class="modal-header book-header-preview">
                                    <h3>Hobbit</h3>
                                    <h5>by J. R. R. Tolkien</h5>
                                </div>
                                <div class="modal-body col-lg-11">
                                    <div class="panel">
                                        <div class="panel-body book-review-text">
                                            ibero labore. Quo vitae accusamus quaerat incidunt, ea dignissimos dolores ullam! Totam tempora ullam officia accusantium dolorem quas doloremque perspiciatis voluptatibus distinctio ratione, amet, eum aliquid odit eius inventore velit. In, sit?
                                        </div>
                                        <a href="#" class="btn btn-default">Read</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control background-transperant" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left custom-style-glyphicons" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control background-transperant" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right custom-style-glyphicons" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

        </main>