<form class="form-horizontal">
    <fieldset>
        <legend>Sign up</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control email" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control password" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href='#/home' class="btn btn-default">Cancel</a>
                <a href='#/home' class="btn btn-primary signup">Sign up</a>
            </div>
        </div>
    </fieldset>
</form>