<form class="form-horizontal">
    <fieldset>
        <legend>Log in</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control email" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control password" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2 btns">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary signin"><a href='#/home'>Log in</a></button>
            </div>
        </div>
    </fieldset>
</form>