<!DOCTYPE html>
<html>

<head>
    <title>Login page</title>
    <script src="script/header.js"></script>
    <script src="script/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/main.css" type="text/css">
</head>

<body>
    <div class="container">
        <header class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-title">Khameleon Library</h1>
                </div>
                <div class="col-lg-6">
                    <img src="images/books.png" alt="Books" class="pull-right">
                    <ul class="nav nav-pills" id="header-navigation">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li class="">
                            <a href="#">Books</a>
                        </li>
                        <li class="">
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="base-docs-section">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Username:</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password:</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary btn-block">Log in !</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </main>
        <footer>
            <div class="row">
                <div class="modal-header">
                    <h4 class="modal-title pagination-centered text-center">Librarians:</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-2 footer-names">
                        <p><a href="https://telerikacademy.com/Users/lyubomir.bandrov">Lyubomir Bandrov</a></p>
                    </div>
                    <div class="col-lg-2 footer-names">
                        <p><a href="https://telerikacademy.com/Users/NP.Kumanov">Nikolay Kumanov</a></p>
                    </div>
                    <div class="col-lg-2 footer-names">
                        <p><a href="https://telerikacademy.com/Users/telerik2014">Dimitar Stoyanov</a></p>
                    </div>
                    <div class="col-lg-2 footer-names">
                        <p><a href="https://telerikacademy.com/Users/Enikov">Todor Enikov</a></p>
                    </div>
                    <div class="col-lg-2 footer-names">
                        <p><a href="https://telerikacademy.com/Users/matir8">Martin Markov</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>